<% content_for :head do %>
  <%= stylesheet_link_tag "add" %>
  <script type="text/javascript">
    $(function() {
      init();
      initSearch(true);
      initMap();

      $("#point_skils_ids").select2({
        theme: "bootstrap",
        placeholder: "Yeteneklerini ekle...",
        allowClear: true,
        tokenSeparators: [','],
        maximumInputLength: 50,
        minimumInputLength: 2
      });

    });
 </script>
  <%= javascript_include_tag "add" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <% if current_user %>

        <%= form_for(@point, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
          
          <h3>Yeteneklerini belirle</h3>
          <hr/>

          <%= f.hidden_field :lat %>
          <%= f.hidden_field :lng %>
          <%= f.hidden_field :address %>
          <%= f.hidden_field :point_type, :value => 0 %>

          <div class="form-group">
            <label for="address" class="col-lg-3 control-label">Lokasyon <span class="required-field">*</span></label>
            <div class="col-lg-9">
              <p class="help-block"><a id="detect" class="btn btn-primary btn-xs" href="#">Konum belirle</a> Bulunduğunuz konumu alır</p>
            </div>
          </div>

         
          <div class="form-group">
            <%= f.label :other, "Yetenekler", :class => "col-lg-3 control-label" %>
            <div class="col-lg-9">
              <%= collection_select :point_skils,:ids, Tag.order(:name), :id, :name, {}, {:class => "form-control",multiple: true}
              %>
            
            </div>
          </div>
          <div id="alert" class="alert alert-warning collapse"></div>

          <div class="form-group">
          
          <div class="col-lg-offset-3 col-lg-9">
            <button name="commit" type="submit" class="btn btn-success">Ekle</button>  
          </div>
          </div>
        <% end %>

      <% else %>

        <p id="stahp">Yetenek eklemek içim Facebook ile giriş yapmalısınız.</p>
        <p>
        <a class="btn btn-signup btn-fb" style="padding: 0px;" href="/auth/facebook" id="facebook_sign_in">
          <i class="fa fa-facebook"></i> <span>Facebook ile bağlan</span></a>
          
        </p>

      <% end %>

    </div>
    <div class="col-lg-7">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>